.version-popup {
  position: absolute;
  right: 10px;
  z-index: 1000;
  border-radius: 4px;
  font-size: 0.7em;
}
.version-popup .version {
  margin: 0;
  padding: 2px 10px;
  line-height: 25px;
  white-space: nowrap;
  cursor: pointer;
}
.version-popup .version:hover:first-child,
.version-popup .version:hover:last-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.light .version-popup {
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
}
.light .version-popup .version:hover {
  background-color: #e6e6e6;
}
.light .version-popup .default {
  color: #ccc;
}

.coal .version-popup {
  color: #98a3ad;
  background: #141617;
  border: 1px solid #43484d;
}
.coal .version-popup .version:hover {
  background-color: #1f2124;
}
.coal .version-popup .default {
  color: #43484d;
}
.navy .version-popup {
  color: #bcbdd0;
  background: #161923;
  border: 1px solid #737480;
}
.navy .version-popup .version:hover {
  background-color: #282e40;
}
.navy .version-popup .default {
  color: #737480;
}
.rust .version-popup {
  color: #262625;
  background: #e1e1db;
  border: 1px solid #b38f6b;
}
.rust .version-popup .version:hover {
  background-color: #99908a;
}
.rust .version-popup .default {
  color: #737480;
}
.ayu .version-popup {
  color: #c5c5c5;
  background: #14191f;
  border: 1px solid #5c6773;
}
.ayu .version-popup .version:hover {
  background-color: #191f26;
}
.ayu .version-popup .default {
  color: #737480;
}



