[Unit]
Description=anon service

[Service]
User=anon
WorkingDirectory=/etc/anon/
ExecStart=/usr/bin/anon_service
Restart=always
Slice=anon.slice

[Install]
WantedBy=multi-user.target
