[Unit]
Description=vjoule service

[Service]
User=vjoule
WorkingDirectory=/etc/vjoule/
ExecStart=/usr/bin/vjoule_service
Restart=always
Slice=vjoule.slice

[Install]
WantedBy=multi-user.target
