Package: vjoule-tools
Version: 1.0
Architecture: amd64
Maintainer: dimitri.saingre@davidson.fr, emile.cadorel@davidson.fr
Description: vjoule service, CLI and some other tools for energy consumption
Depends: stress

